.App {
    width: 600px;
    margin: 60px auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}
.search-input {
    width: 480px;
}

.select {
    width: 110px;
}

.countries-list {
    width: 100%;
}

.country-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

.country-item img {
    max-width: 120px;
}

.content-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.spinner {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}